<template>
    <div class="text-center">
        <Header :showAdd="false" :showFilter="false" :listAll="true"/>

        <div class="row">
            <div class="col-md-12">
                <h1>Invite</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="send">
                    <div class="form-group">
                        <multiselect v-model="invitees"
                                     :options="options"
                                     :show-labels="true"
                                     :clear-on-select="false"
                                     :close-on-select="false"
                                     :multiple="true"
                                     :internal-search="true"
                                     label="username"
                                     track-by="reference"
                                     placeholder="select users to invite"
                        ></multiselect>
                    </div>

                    <div class="form-group">
                        <label>Message <i>(optional)</i></label>
                        <textarea-autosize id="message"
                                           class="form-control"
                                           v-model="message"
                                           placeholder="message..."></textarea-autosize>
                    </div>

                    <input type="submit"
                           value="Send"
                           class="btn btn-primary btn-lg btn-block">
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Repository from '../services/repository'
    import Header from '../components/Header'

    export default {
        name: 'invite',

        components: {
            Header
        },

        data() {
            return {
                invitees: [],
                options: [],
                message: '',
            }
        },

        beforeCreate() {
            const that = this;

            const success = function (usernames) {
                that.options = usernames;
            };

            const failure = function (code, message) {

            };

            Repository.fetchAllUsernames(success, failure);
        },

        methods: {
            send() {
                const references = this.invitees.map(user => user.reference);
                const message    = this.message;

                const success = function () {
                    this.$router.push('/user/jobs');
                    this.$toastr('success', 'Invitation Sent');
                };

                const failure = function () {

                };

                Repository.invite(references, message, success, failure);
            }
        },
    }
</script>

<style lang="scss" scoped>
    h1, label {
        color: white;
    }

    #message {
        width: 100%;
    }
</style>
