<template>
    <div>
        <Header :showAdd="false" :showFilter="false" :listAll="true" />
        <div class="row">
            <div class="col-md-12">
                <h1>Add Job</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="create">
                    <div class="form-group">
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Name"
                               v-model="job.name"
                        />
                    </div>
                    <div class="form-group">
                        <input type="text"
                               class="form-control form-control-lg"
                               placeholder="Description"
                               v-model="job.description"
                        />
                    </div>
                    <input type="submit"
                           value="Create"
                           class="btn btn-primary btn-lg btn-block"
                    />
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from '../components/Header';
    import Job from '../model/job'
    import Repository from '../services/repository'

    export default {
        name: 'JobCreatePage',

        components: {
            Header
        },

        data() {
            return {
                job: Job.make()
            };
        },

        methods: {
            create() {
                const that = this;

                const success = function () {
                    that.$router.push('/user/jobs');
                };

                const failure = function (code, message) {
                    switch (code) {
                        case 401:
                            localStorage.clear();
                            that.$router.push('/login');
                            break;

                        default:
                            alert('Error: ' + message);
                    }
                };

                Repository.createJob(this.job, success, failure);
            }
        }
    };
</script>

<style lang="scss" scoped>
    h1 {
        color: white;
    }

    .actions {
        margin-bottom: 30px;
    }
</style>
