<template>
    <div id="jobList">
        <Header :showAdd="true" :showFilter="true" v-on:toggleArchived="toggleArchived"/>

        <div class="row">
            <div class="col-md-12">
                <h3>Created</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <p v-if="filteredCreated.length < 1">You have not created any jobs</p>
                    <router-link
                            :to="{name: 'job-view', params: { jobReference: job.reference }}"
                            v-for="job in filteredCreated"
                            class="list-group-item"
                            tag="div"
                    >
                        <div class="job-name">
                            {{job.name}}
                        </div>
                        <div class="badges">
                            <span v-if="job.status === 'Open'"
                                  class="badge badge-primary badge-pill">{{job.status}}</span>
                            <span v-if="job.status === 'Archived'" class="badge badge-danger badge-pill">Archived</span>
                        </div>
                        <div class="actions" v-if="job.status !== 'Archived'">
                            <button class="btn btn-danger btn-sm archive"
                                    @click.stop="archiveJob(job)">
                                <font-awesome-icon icon="trash"></font-awesome-icon>
                            </button>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Assigned To</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group" id="assigned-to-list">
                    <p v-if="filteredAssigned.length < 1">No jobs are currently assigned to you</p>
                    <router-link
                            :to="{name: 'job-view', params: { jobReference: job.reference }}"
                            v-for="job in filteredAssigned"
                            class="list-group-item"
                            tag="div">
                        <div class="job-name">
                            {{job.name}}
                        </div>
                        <div class="badges">
                            <span v-if="job.status === 'Open'"
                                  class="badge badge-primary badge-pill">{{job.status}}</span>
                            <span v-if="job.status === 'Archived'" class="badge badge-danger badge-pill">Archived</span>
                        </div>
                        <div class="actions" v-if="job.status !== 'Archived'">
                            <button class="btn btn-danger btn-sm archive"
                                    @click.stop="archiveJob(job)">
                                <font-awesome-icon icon="trash"></font-awesome-icon>
                            </button>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>

        <div id="quick-add">
            <form @submit.prevent="addJob" class="form-inline">
                <div class="form-group">
                    <input required
                           class="form-control float-left"
                           type="text"
                           placeholder="Job Name"
                           v-model="quickAddJob.name">
                </div>
                <input type="submit"
                       class="btn btn-primary float-right"
                       value="Quick Add"
                       :disabled="quickAddButtonDisabled">
            </form>
        </div>
    </div>
</template>

<script>
    import Header from '../components/Header';
    import JobCard from '../components/list/Job';
    import jobJsonAdapter from '../services/json-adapter/job';
    import Repository from '../services/repository';
    import Job from '../model/job';

    export default {
        name: 'JobList',

        components: {
            JobCard,
            Header
        },

        data() {
            return {
                filterOptions: {
                    archived: false
                },
                jobsAssigned: [],
                jobsCreated: [],
                quickAddJob: Job.make(),
                quickAddButtonDisabled: false,
            }
        },

        beforeCreate() {
            const that = this;

            const success = function (data) {
                that.jobsAssigned = data.jobsAssigned.map(jobJsonAdapter);
                that.jobsCreated  = data.jobsCreated.map(jobJsonAdapter);
            };

            const failure = function (code) {
                if (code === 401) {
                    localStorage.clear();
                    this.$router.push('/login');
                }
            };

            Repository.fetchUserJobs(success, failure);
        },

        computed: {
            filteredCreated() {
                let jobs;

                const that = this;

                jobs = this.jobsCreated.filter(function (job) {
                    return that.filterOptions.archived
                        ? job.status === 'Archived'
                        : job.status !== 'Archived'
                });

                return jobs;
            },

            filteredAssigned() {
                let jobs;

                const that = this;

                jobs = this.jobsAssigned.filter(function (job) {
                    return that.filterOptions.archived
                        ? job.status === 'Archived'
                        : job.status !== 'Archived'
                });

                return jobs;
            },
        },

        methods: {
            toggleArchived(archived) {
                this.filterOptions.archived = archived;
            },

            addJob() {
                this.quickAddButtonDisabled = true;

                const that = this;

                const success = function (job) {
                    that.jobsCreated.push(jobJsonAdapter(job));
                    that.quickAddJob = Job.make();
                    window.scrollTo(0, document.body.scrollHeight);
                    that.quickAddButtonDisabled = false;
                };

                const failure = function (code, message) {
                    switch (code) {
                        case 401:
                            localStorage.clear();
                            this.$router.push('/login');
                            break;

                        default:
                            alert('Error: ' + message);
                    }
                };

                Repository.createJob(this.quickAddJob, success, failure);
            },

            archiveJob(job) {
                const success = function () {
                    job.status = 'Archived';
                };

                const failure = function (code, message) {
                    switch (code) {
                        case 401:
                            localStorage.clear();
                            this.$router.push('/login');
                            break;

                        default:
                            alert('Error: ' + message);
                    }
                };

                Repository.archiveJob(job, success, failure)
            }
        },
    }
</script>

<style lang="scss" scoped>
    h3, p {
        color: white;
    }

    #assigned-to-list {
        margin-bottom: 120px;
    }

    .list-group {
        width: 100%;
        margin-bottom: 20px;

        .list-group-item {
            height: auto;
            color: white;
            background: #2a2d46;
            padding: 0;
            display: flex;
            margin-bottom: 10px;

            .job-name {
                box-sizing: border-box;
                padding: 15px;
                word-break: break-word;
                flex: 6.5;
            }

            .badges {
                box-sizing: border-box;
                flex: 2;
                display: flex;
                align-items: center;
                text-align: center;
            }

            .actions {
                box-sizing: border-box;
                flex: 1.5;

                .archive {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    #quick-add {
        position: fixed;
        bottom: 0;
        background: #ecf0f1;
        width: 100%;
        margin-left: -15px;
        padding: 8px 15px;
        opacity: 1;

        .form-group {
            margin: 0;
            width: 70%;

            input {
                width: 100%;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

            input:focus {
                -webkit-box-shadow: none !important;
                -moz-box-shadow: none !important;
                box-shadow: none !important;
            }
        }

        input[type="submit"] {
            width: 30%;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
</style>
