<template>
    <div id="jobList">
        <Header :showAdd="false" :showFilter="false" :listAll="true"/>
        <div class="row">
            <div class="col-md-12">
                <h1 v-if="!editName"
                    @click="clickName"
                >{{job.name}}</h1>
                <form @submit.prevent>
                    <input type="text"
                           ref="nameInput"
                           v-if="editName"
                           @blur="editNameFinished"
                           v-model="job.name"
                           v-on:keyup.enter="editNameFinished"
                           required
                    >
                </form>

                <p>Created By: {{job.createdBy.name}}</p>

                <pre
                        v-if="!editDescription"
                        @click="clickDescription"
                        v-bind:class="{ empty: job.description === '' }"
                ><a v-if="job.description === ''" class="btn btn-sm btn-outline-warning" @click.prevent>Add Description</a>{{job.description}}</pre>
                <textarea-autosize
                        ref="descriptionInput"
                        v-if="editDescription"
                        @blur.native="editDescriptionFinished"
                        v-model="job.description"
                        id="inputDescription"
                >{{job.description}}
                </textarea-autosize>

                <p class="text-info" v-if="isAssigned">Job has been assigned to <span
                        class="badge badge-info assignee-name"
                        v-for="assignee in job.assignees">{{assignee.reference === userReference ? 'You' : assignee.username}}</span>
                </p>

                <div class="actions">
                    <router-link
                            v-if="isAssigned === false"
                            :to="{name: 'job', params: { reference: job.reference }}"
                            class="btn btn-primary btn-lg btn-block"
                            tag="a">Start
                    </router-link>
                    <router-link
                            v-if="isAssigned"
                            :to="{name: 'job', params: { reference: job.reference }}"
                            class="btn btn-primary"
                            tag="a">I helped
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from '../components/Header';
    import Job from '../model/job';
    import jobJsonAdapter from '../services/json-adapter/job';
    import Repository from '../services/repository';

    export default {
        name: 'JobPage',

        props: ['jobReference'],

        components: {
            Header
        },

        data() {
            return {
                job: Job.make(),
                editName: false,
                editDescription: false,
            }
        },

        mounted() {
            const that = this;

            const success = function (data) {
                that.job = jobJsonAdapter(data.job);
            };

            const failure = function (response, message) {
                switch (code) {
                    case 401:
                        localStorage.clear();
                        that.$router.push('/login');
                        break;

                    default:
                        alert('Error: ' + message);
                }
            };

            Repository.fetchUserJob(this.$props.jobReference, success, failure);
        },

        computed: {
            isAssigned() {
                return this.job.assignees.length > 0
            },

            userReference() {
                return localStorage.getItem('user.reference');
            }
        },

        methods: {
            clickName() {
                this.editName = true;

                this.$nextTick(function () {
                    this.focusNameInput();
                });
            },

            clickDescription() {
                this.editDescription = true;

                this.$nextTick(function () {
                    this.focusDescriptionInput();
                });
            },

            editNameFinished() {
                if (this.job.name.length < 1) {
                    this.focusNameInput();
                }

                if (this.editName && this.job.name.length > 0) {
                    this.editName = false;

                    const success = function () {
                        this.$toastr('success', 'Saved')
                    };

                    const failure = function (code, message) {
                        switch (code) {
                            case 401:
                                localStorage.clear();
                                this.$router.push('/login');
                                break;

                            default:
                                alert('Error: ' + message);
                        }
                    };

                    Repository.updateJob(this.job, success, failure);
                }
            },

            editDescriptionFinished() {
                if (this.editDescription) {
                    this.editDescription = false;

                    const success = function () {
                        this.$toastr('success', 'Saved')
                    };

                    const failure = function (code, message) {
                        switch (code) {
                            case 401:
                                localStorage.clear();
                                this.$router.push('/login');
                                break;

                            default:
                                alert('Error: ' + message);
                        }
                    };

                    Repository.updateJob(this.job, success, failure);
                }
            },

            focusNameInput() {
                this.$refs.nameInput.focus();
            },

            focusDescriptionInput() {
                this.$refs.descriptionInput.$el.focus();
            }
        },
    }
</script>

<style lang="scss" scoped>
    h1, p, pre {
        font-family: Helvetica, Arial, sans-serif;
        color: white;
        word-break: break-all;
        width: 100%;
        white-space: pre-wrap;
        overflow: hidden;
    }

    pre {
        padding-bottom: 13px;

        &.empty {
            color: #ffc107;
        }
    }

    #inputDescription, pre {
        font-size: 1.2em;
        font-family: Helvetica, Arial, sans-serif;
    }

    h1 {
        font-size: 2.4em;
    }

    textarea, input {
        color: white;
        background-color: transparent;
        border: 0;
        word-break: break-all;
    }

    textarea:focus, input:focus {
        outline: none;
    }

    #inputDescription {
        width: 100%;
        box-sizing: border-box;
        display: block;
        height: border-box;
        padding: 0;
        margin-bottom: 0;
    }

    input {
        font-size: 2.4em;
        padding: 1px 0 9px 0;
        line-height: 0;
    }

    .actions {
        padding-bottom: 20px;
    }

    .assignee-name {
        padding: 5px 8px;
        margin: 2px;
        font-size: 1em;
    }
</style>
