<template>
    <div class="text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Register</h1>
                <router-link :to="{name: 'login'}"
                             class="btn btn-outline-warning"
                             tag="button">Back
                </router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form @submit.prevent="register">
                    <div class="form-group">
                        <label>Username</label>
                        <input required
                               class="form-control"
                               type="text"
                               placeholder="username"
                               v-model="username">
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input required
                               class="form-control"
                               type="password"
                               placeholder="password"
                               v-model="password">
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input required
                               class="form-control"
                               type="password"
                               placeholder="confirm password"
                               v-model="passwordConfirmation">
                    </div>

                    <input type="submit"
                           value="register"
                           class="btn btn-primary btn-lg btn-block">
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Repository from '../services/repository'

    export default {
        name: 'register',

        data() {
            return {
                username: '',
                password: '',
                passwordConfirmation: ''
            };
        },

        methods: {
            register() {
                const {username, password, passwordConfirmation} = this;

                const that = this;

                const success = function () {
                    that.$router.push('/login');
                };

                const failure = function (code, message) {
                    alert('Error: ' + message);
                };

                Repository.register(username, password, passwordConfirmation, success, failure);
            }
        }
    }
</script>

<style scoped>
    h1 {
        padding: 25px;
    }

    form {
        padding-top: 25px;
    }

    label, h1 {
        color: white;
    }

    input[type="submit"] {
        margin-top: 40px;
    }
</style>
