<template>
    <web-view
            :source="{uri: 'http://toucando.space'}"
            :style="{marginTop: 24}"
    />
</template>

<script>
    import { WebView } from 'react-native';

    export default {
        components: {
          WebView
        },

        data: function() {
            return {

            };
        }
    }
</script>

<style>

</style>
