<template>
    <div class="card job-container">
        <!--<img :src="require(`../../assets/${job.name}`)" class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">{{job.name}}</h5>
            <p>Created By: {{job.createdBy.reference === userReference ? 'You' : job.createdBy.name}}</p>
            <p class="card-text">{{job.description}}</p>
            <p>Assignees: <span class="badge badge-info assignee-name" v-for="assignee in job.assignees">{{assignee.name}}</span>
            </p>
        </div>
        <div class="card-footer">
            <router-link
                    :to="{name: 'job-view', params: { jobReference: job.reference }}"
                    class="btn btn-primary float-right btn-sm open-button"
                    tag="a">Open
            </router-link>
            <a v-if="job.createdBy.reference === userReference && job.status !== 'archived'"
               @click.prevent="archive(job.reference)"
               class="btn btn-danger float-right btn-sm archive-button">Archive</a>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Job',

    props: ['job', 'userReference'],

    methods: {
      archive(reference) {
        this.$emit('archive', reference)
      }
    }
  }
</script>

<style scoped>
    .assignee-name {
        margin-right: 8px;
    }

    .job-container {
        background-color: #222437;
        border: 0.5px solid transparent;
        border-radius: 0.625rem;
        margin-bottom: 20px;
        color: white;
    }

    .job-container p {
        color: #606A96;
    }

    .job-container .card-footer {
        background-color: #222437;
        border: none;
        padding: 20px;
    }

    .job-container .card-footer .btn {
        margin-left: 10px;
    }
</style>
